<html>
  <head>
    <title>SucurilabsWebsite</title>
  <%= stylesheet_link_tag    "style", "5grid/responsive", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Header -->
      <div id="header-wrapper">
        <header id="header" class="5grid">
          <div class="12u-first">
          
            <!-- Logo -->
              <h1><a href="#">Halcyonic</a></h1>
            
            <!-- Nav -->
              <nav>
                <a href="index.html">Homepage</a>
                <a href="threecolumn.html">Three Column</a>
                <a href="twocolumn1.html">Two Column #1</a>
                <a href="twocolumn2.html">Two Column #2</a>
                <a href="onecolumn.html">One Column</a>
              </nav>

          </div>
        </header>
        <div id="content-wrapper">
          <%= yield :section_header %>
          <div id="content">
            <%= yield %>
          </div>
        </div>

    

    <!-- Footer -->
      <div id="footer-wrapper">
        <footer id="footer" class="5grid">
          <div class="8u-first">
          
            <!-- Links -->
              <section>
                <h2>Links to Important Stuff</h2>
                <div class="3u-first">
                  <ul class="link-list last-child">
                    <li><a href="#">Neque amet dapibus</a></li>
                    <li><a href="#">Sed mattis quis rutrum</a></li>
                    <li><a href="#">Accumsan suspendisse</a></li>
                    <li><a href="#">Eu varius vitae magna</a></li>
                  </ul>
                </div>
                <div class="3u">
                  <ul class="link-list last-child">
                    <li><a href="#">Neque amet dapibus</a></li>
                    <li><a href="#">Sed mattis quis rutrum</a></li>
                    <li><a href="#">Accumsan suspendisse</a></li>
                    <li><a href="#">Eu varius vitae magna</a></li>
                  </ul>
                </div>
                <div class="3u">
                  <ul class="link-list last-child">
                    <li><a href="#">Neque amet dapibus</a></li>
                    <li><a href="#">Sed mattis quis rutrum</a></li>
                    <li><a href="#">Accumsan suspendisse</a></li>
                    <li><a href="#">Eu varius vitae magna</a></li>
                  </ul>
                </div>
                <div class="3u">
                  <ul class="link-list last-child">
                    <li><a href="#">Neque amet dapibus</a></li>
                    <li><a href="#">Sed mattis quis rutrum</a></li>
                    <li><a href="#">Accumsan suspendisse</a></li>
                    <li><a href="#">Eu varius vitae magna</a></li>
                  </ul>
                </div>
              </section>

          </div>
          <div class="4u">
            
            <!-- Blurb -->
              <section>
                <h2>An Informative Text Blurb</h2>
                <p>
                  Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse eu 
                  varius nibh. Suspendisse vitae magna eget odio amet mollis. Duis neque nisi, 
                  dapibus sed mattis quis, sed rutrum accumsan sed. Suspendisse eu varius nibh 
                  lorem ipsum amet dolor sit amet lorem ipsum consequat gravida justo mollis.
                </p>
              </section>
          
          </div>
        </footer>
      </div>

    <!-- Copyright -->
      <div id="copyright">
        (c) 2012 Untitled Website. All rights reserved. Design by <a href="http://nodethirtythree.com/">nodethirtythree</a> + <a href="http://www.freecsstemplates.org/">FCT</a>. Images by <a href="http://fotogrph.com/">Fotogrph</a>.
      </div>

  </body>
</html>